body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f3f7f0;
    color: #333;
}



.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background:  url('https://plus.unsplash.com/premium_photo-1661962692059-55d5a4319814') no-repeat center center/cover;
    color: rgb(255, 255, 255);
    padding: 0 2rem;
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
    text-shadow: 3px 3px 6px rgba(181, 18, 18, 0.5);
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    line-height: 1.8;
    text-shadow: 2px 2px 4px rgba(5, 18, 162, 0.5);
}

.hero .cta-buttons {
    display: flex;
    gap: 1rem;
}

.hero button {
    padding: 1rem 2.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.hero .get-started {
    background-color: #2be01a;
    color: #333;
}

.hero .get-started:hover {
    background-color: #35fde2;
    transform: scale(1.05);
}



footer {
    text-align: center;
    padding: 1rem;
    background: #2e7d32;
    color: white;
    font-size: 0.9rem;
}

footer a {
    color: #c8e6c9;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}